body {
  background: #121212;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  justify-content: center;
  align-items: center;
    background-image: url('cafe.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    background-color: #f0f0f0; 
}
.titles {
  text-align: center;
  font-size: 5em;
  font-family: 'Arial Black', sans-serif;
  margin-bottom: 20px;
  text-shadow: #1e293b 2px 2px 4px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.todo, .motivation, .cont {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 360px;
  text-align: center;
}
button
{
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #1d478b;
    color: white;
    font-size: 16px;
    border-radius: 40px;
}
input
{
   border: none;
    outline: none;
    padding: 10px 20px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 40px;  
}
ul li {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 50px; /* room for delete cross */
}

ul li ::before {
  content: " ";
  position: absolute;
  height: auto;
  width: auto;
}
ul li.completed {
  text-decoration: line-through;
  color: #888;
}
ul li span {
  margin-left: auto;
  font-size: 22px;
  color: #555;
  cursor: pointer;
  padding: 0 10px;
}
ul li span:hover {
  color: #edeef0;
  cursor: pointer;
}

#timer {
  font-size: 1.5em;
  margin-top: 10px;
  text-align: center;
}